@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html {
    background-color: rgb(72, 72, 72);
    background-image: url('../Images/bg3.jpg');
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #5cccf0;
    padding: 2.7vh;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.6vw;
    padding: 0px 3vw;
}

#site-name {
    padding: 0px;
    font-size: 3vw;
    flex: 4;
}

#logo {
    flex: 4;
    margin: 0 0.5vw -0.6vw 0;
    padding: 0 0 -1vw 0;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
}



.info {
    flex: 1;
    background-color: #5cccf0;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 20vw;
    border-bottom: 1px solid black;

}

.clubinfo {
    background-color: #ffffff;
    padding: 1vw;
    color: black;
    border: 1px solid black;

}

.members {
    overflow-y: auto;
    overflow-x: hidden;
}


.member {
    border-collapse: collapse;
    height: 5vw;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    color: black;
    font-size: 2.5vh;
    font-weight: bold;

}

img {

    width: 17.9vw;
    height: 5vw;
    object-fit: cover;
    position: absolute;
}

.text-container {
    max-width: 16vw;
    height: 3vw;

    /* Adjust as needed */
    word-wrap: break-word;
    z-index: 1;
    position: absolute;
    padding: 1vw;
    overflow-wrap: break-word;
}

.club {
    height: calc(100vh - 11.9vh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 18vw);
}


#msg {
    color: white;
    font-size: 1.3em;
}

.posts {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.post {
    background: rgb(45, 45, 45);
    background: linear-gradient(126deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%);
    color: rgb(0, 0, 0);
    margin: 0.7vw;
    width: 78vw;
    padding: 1vw;
    border-radius: 1vw;
    border: 1px solid black;
}

#form {
    margin: 0px;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.new {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newpost {
    align-self: center;
    padding-bottom: 5px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


input,
textarea {
    margin: 1vw;
    border: none;
    outline: none;
    background: rgb(255, 255, 255);
    background: linear-gradient(126deg, rgba(255, 255, 255, 0.85) 0%, rgba(247, 247, 247, 0.85) 100%);
    color: white;
    font-size: 1.1vw;
    border: 1px solid black;
    font-family: "Josefin Sans", sans-serif;

}

textarea {
    border-radius: 1vw;
    width: 76.5vw;
    padding: 1vw 1vw;
    color: rgb(0, 0, 0);

}

input[type=submit] {
    margin-left: 0;
    border-radius: 1vw;
    cursor: pointer;
    padding: 0.8vw 1.2vw;
    margin: 0 1vw;
    background-color: #ffffff;
    color: black;
}



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    color: black;
}

::-webkit-scrollbar-thumb {
    background: #2a2a2a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #262626;
}

@media (max-width: 800px) {
    .hydrated {
        margin: none;
    }

    .navbar {
        font-size: 2em;
        padding: 20px;
        flex-direction: column;
    }

    .navbar a {
        font-size: 1em;
        padding-top: 10px;
    }

    #site-name {
        font-size: 1.5em;
    }

    .info {
        flex: 2;
        width: 40vw;
    }

    .member {
        border-collapse: collapse;
        height: 20vw;
        display: flex;
        flex-direction: column;
        border: 1px solid black;

    }

    img {
        width: 40vw;
        height: 20vw;
        object-fit: cover;
        position: absolute;
    }

    .text-container {
        max-width: 38vw;
        height: 20vw;
        word-wrap: break-word;
        z-index: 1;
        position: absolute;
        padding: 2vw;
        overflow-wrap: break-word;
    }

    .club {
        height: calc(100vh - 24.5vh);
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        width: calc(100vw - 41vw);
    }

    .post {
        background-color: white;
        margin: 1vw;
        width: 53vw;
        padding: 1vw;
        border-radius: 1vw;
    }



    input,
    textarea {
        margin: 1vw;
        border: none;
        outline: none;
        background-color: white;
        font-size: 1.1vw;
        font-family: "Josefin Sans", sans-serif;

    }

    .newpost {
        padding-bottom: 0;
        width: 0;
        display: flex;
        flex-direction: row;
    }

    .new {
        display: flex;
        flex-direction: row;
        width: 60vw;
    }

    #form {
        margin: 0px;
        padding: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    textarea {
        border-radius: 1vw;
        width: 50vw;
        padding: 2vw;
        font-size: 1em;
    }

    input[type=submit] {
        font-size: 1em;
        margin-left: 0;
        border-radius: 1vw;
        cursor: pointer;
        padding: 1vw 1.2vw;
        margin: 1vw 1vw;
    }



}